.main-container{
    max-width: 90%;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    background-color: rgb(237, 234, 234);
    height: max-content;
}