.login-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px;
    justify-content: flex-start;
    align-items: center;
} 
.login-container div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-transform: uppercase;
}
.login-container div label{
    position: relative;
    top: 6px;
    transition: 1s;
}
.login-container .username-div{
    margin-top: 110px;
}
.login-container .password-div{
    margin-top: 50px;
}
.login-container div input{
   height: 25px;
   border-radius: 5px;
}
input:focus+label{
    background-color:blue;
    text-transform: lowercase;
}
