.container{
    z-index: 2;
    position: fixed;
    display: block;
    height: auto;
    width: 100%;
}
.header{
    border-radius: 5px;
    margin-top: 10px;
    position: sticky;
    left: 200px;
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(139, 73, 201);
}
.header-top{

    height: 30px;
    vertical-align:middle;
    color: aliceblue;
    position: absolute;
    left: 350px;
    top: 0px;
}
.navbar{
    position: relative;
    vertical-align: middle;
    display: flex;
    align-items: center;
    border-radius: 3px;
    top:25px;
    height: 50px;
    background-color:whitesmoke;
}
.navbar-content{
    position: relative;
    padding: 0px;
    flex-grow: 1;
    list-style: none;
    display: flex;
    flex-direction: row;
    
}
.navbar-content li{
    text-transform: uppercase;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    
}
.navbar-content li p{
    color: rgb(139, 73, 201);
    max-width: fit-content;
}
.right{
    width: min-content;
    border-radius: 5px;
    background-color: rgb(139, 73, 201);
    margin-left: 250px;
}
.right button{
    text-transform: uppercase;
    background-color: rgb(139, 73, 201);
    border: none;
    padding: 5px;
}
.right .text{
    text-decoration: none;
    color: white;
}
