.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: lightgray;
}
.cards{
    height: 180px;
    background-color: rgb(146, 145, 145);
    width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;

    box-shadow: rgba(194, 200, 207, 0.8) 0 0 90px 33px;

}